@font-face {
  font-family: Lucida Grande;
  src: url("fonts/Lucida Grande.ttf");
}

@font-face {
  font-family: Lucida Grande Bold;
  src: url("fonts/Lucida Grande Bold.ttf");
}

@font-face {
  font-family: Ubuntu Condensed;
  src: url("fonts/Ubuntu-R.ttf");
}

body {
  text-align: center;
  background-color: #999999;
  color: #333;
  //font-family: verdana, arial, helvetica, sans-serif;
  //lucida grande',tahoma,verdana,arial,sans-serif
  font-family: Ubuntu Condensed;
  font-size: 13px;
  line-height: 18px;


}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

///////////////////////////////////////////////////////////////


#header {
  #containers {
    text-align: left;
    margin: 0 auto;
    //margin: 5px;
    width:1000px;
  }

  #left {
    width: 600px;
    float: left;
    height: 150px;
    background-image: url("rails.png");
    background-size: 150px 100px;

  }

  #right {
    text-indent: 40px;
    width: 400px;
    float: right;
    height: 150px;
    background-color: #f08080;

  }

  width: 100%;
  min-width: 1000px;
  height: 150px;
  background-color:#ffa940;

}

#main {
  #containers {
    text-align: left;
    margin: 0 auto;
    padding: 0;
    width:1000px;
    background-color: white;
    //overflow: auto;

  }

  #search {
    width: 1000px;
    height: 50px;
    //margin: 20px;

  }

  #left {
    width: 200px;
    min-height: 750px;
    float: left;
    background-color: #9932cc ;
  }

  #right {
    width: 800px;
    min-height: 750px;
    float: right;
    background-color: #7cfc00;
  }

  width: 100%;
  min-height: 800px;
  min-width: 1000px;
  background-color: #00008b;
}

#footer {
  #containers {
    margin: 0 auto;
    padding: 0;
    width:1000px;
    height: 50px;
    background-color: red;

  }

  #left {


  }

  #right {


  }
  width: 100%;
  height: 50px;
  min-width: 1000px;
  background-color: purple;
  //background-color:#ffa940;

}